<div class="flex-container">

  <div class="flex-item header1">
    <h1 id="header">OM APK</h1>
  </div>

  <div class="flex-item text">
    <p>APK er en nettside for deg som effektivt vil finne forholdet mellom alkohol og pris på vinmonopolets produkter. Synes
      du det er flaut å spørre etter den billigste vinen på vinmonopolet? Bruker du lang tid på å lete deg frem til en vin
      som både har høy prosent og ikke koster fletta, eller vil du imponere med polets høyest prisede vin? Da er dette nettsiden
      for deg.
      <br>
      <br> APK er en måleenhet for
      <b>antall ml ren alkohol per krone</b> og regnes ut ved å gange prosenten av alkohol i drikken med dens volum og dele
      dette på prisen. Vi har gitt alle vinmonopolets produkter en
      <b>poengsum fra 0-100</b> som regnes ut med formelen
      <b>APK delt på maksimal APK og gange med hundre</b>, slik at du enkelt kan finne frem til produktet du ønsker! </p>
  </div>

  <div class="flex-item header2">
    <h2>FINN DITT VINMONOPOL</h2>
  </div>

  <div class="flex-item map">
    <agm-map [latitude]="63.430484" [longitude]="10.396493" [zoom]="13">
      <agm-marker [latitude]="lat0" [longitude]="lng0"></agm-marker>
      <agm-marker [latitude]="lat1" [longitude]="lng1"></agm-marker>
      <agm-marker [latitude]="lat2" [longitude]="lng2"></agm-marker>
      <agm-marker [latitude]="lat3" [longitude]="lng3"></agm-marker>
      <agm-marker [latitude]="lat4" [longitude]="lng4"></agm-marker>
      <agm-marker [latitude]="lat5" [longitude]="lng5"></agm-marker>
      <agm-marker [latitude]="lat6" [longitude]="lng6"></agm-marker>
      <agm-marker [latitude]="lat7" [longitude]="lng7"></agm-marker>
      <agm-marker [latitude]="lat8" [longitude]="lng8"></agm-marker>
      <agm-marker [latitude]="lat9" [longitude]="lng9"></agm-marker>
      <agm-marker [latitude]="lat10" [longitude]="lng10"></agm-marker>
      <agm-marker [latitude]="lat11" [longitude]="lng11"></agm-marker>
      <agm-marker [latitude]="lat12" [longitude]="lng12"></agm-marker>
      <agm-marker [latitude]="lat13" [longitude]="lng13"></agm-marker>
      <agm-marker [latitude]="lat14" [longitude]="lng14"></agm-marker>
      <agm-marker [latitude]="lat15" [longitude]="lng15"></agm-marker>
      <agm-marker [latitude]="lat16" [longitude]="lng16"></agm-marker>
      <agm-marker [latitude]="lat17" [longitude]="lng17"></agm-marker>
      <agm-marker [latitude]="lat18" [longitude]="lng18"></agm-marker>
      <agm-marker [latitude]="lat19" [longitude]="lng19"></agm-marker>
      <agm-marker [latitude]="lat20" [longitude]="lng20"></agm-marker>
      <agm-marker [latitude]="lat21" [longitude]="lng21"></agm-marker>
      <agm-marker [latitude]="lat22" [longitude]="lng22"></agm-marker>
      <agm-marker [latitude]="lat23" [longitude]="lng23"></agm-marker>
      <agm-marker [latitude]="lat24" [longitude]="lng24"></agm-marker>
      <agm-marker [latitude]="lat25" [longitude]="lng25"></agm-marker>
      <agm-marker [latitude]="lat26" [longitude]="lng26"></agm-marker>
      <agm-marker [latitude]="lat27" [longitude]="lng27"></agm-marker>
      <agm-marker [latitude]="lat28" [longitude]="lng28"></agm-marker>
      <agm-marker [latitude]="lat29" [longitude]="lng29"></agm-marker>
      <agm-marker [latitude]="lat30" [longitude]="lng30"></agm-marker>
      <agm-marker [latitude]="lat31" [longitude]="lng31"></agm-marker>
      <agm-marker [latitude]="lat32" [longitude]="lng32"></agm-marker>
      <agm-marker [latitude]="lat33" [longitude]="lng33"></agm-marker>
      <agm-marker [latitude]="lat34" [longitude]="lng34"></agm-marker>
      <agm-marker [latitude]="lat35" [longitude]="lng35"></agm-marker>
      <agm-marker [latitude]="lat36" [longitude]="lng36"></agm-marker>
      <agm-marker [latitude]="lat37" [longitude]="lng37"></agm-marker>
      <agm-marker [latitude]="lat38" [longitude]="lng38"></agm-marker>
      <agm-marker [latitude]="lat39" [longitude]="lng39"></agm-marker>
      <agm-marker [latitude]="lat40" [longitude]="lng40"></agm-marker>
      <agm-marker [latitude]="lat41" [longitude]="lng41"></agm-marker>
      <agm-marker [latitude]="lat42" [longitude]="lng42"></agm-marker>
      <agm-marker [latitude]="lat43" [longitude]="lng43"></agm-marker>
      <agm-marker [latitude]="lat44" [longitude]="lng44"></agm-marker>
      <agm-marker [latitude]="lat45" [longitude]="lng45"></agm-marker>
      <agm-marker [latitude]="lat46" [longitude]="lng46"></agm-marker>
      <agm-marker [latitude]="lat47" [longitude]="lng47"></agm-marker>
      <agm-marker [latitude]="lat48" [longitude]="lng48"></agm-marker>
      <agm-marker [latitude]="lat49" [longitude]="lng49"></agm-marker>
      <agm-marker [latitude]="lat50" [longitude]="lng50"></agm-marker>
      <agm-marker [latitude]="lat51" [longitude]="lng51"></agm-marker>
      <agm-marker [latitude]="lat52" [longitude]="lng52"></agm-marker>
      <agm-marker [latitude]="lat53" [longitude]="lng53"></agm-marker>
      <agm-marker [latitude]="lat54" [longitude]="lng54"></agm-marker>
      <agm-marker [latitude]="lat55" [longitude]="lng55"></agm-marker>
      <agm-marker [latitude]="lat56" [longitude]="lng56"></agm-marker>
      <agm-marker [latitude]="lat57" [longitude]="lng57"></agm-marker>
      <agm-marker [latitude]="lat58" [longitude]="lng58"></agm-marker>
      <agm-marker [latitude]="lat59" [longitude]="lng59"></agm-marker>
      <agm-marker [latitude]="lat60" [longitude]="lng60"></agm-marker>
      <agm-marker [latitude]="lat61" [longitude]="lng61"></agm-marker>
      <agm-marker [latitude]="lat62" [longitude]="lng62"></agm-marker>
      <agm-marker [latitude]="lat63" [longitude]="lng63"></agm-marker>
      <agm-marker [latitude]="lat64" [longitude]="lng64"></agm-marker>
      <agm-marker [latitude]="lat65" [longitude]="lng65"></agm-marker>
      <agm-marker [latitude]="lat66" [longitude]="lng66"></agm-marker>
      <agm-marker [latitude]="lat67" [longitude]="lng67"></agm-marker>
      <agm-marker [latitude]="lat68" [longitude]="lng68"></agm-marker>
      <agm-marker [latitude]="lat69" [longitude]="lng69"></agm-marker>
      <agm-marker [latitude]="lat70" [longitude]="lng70"></agm-marker>
      <agm-marker [latitude]="lat71" [longitude]="lng71"></agm-marker>
      <agm-marker [latitude]="lat72" [longitude]="lng72"></agm-marker>
      <agm-marker [latitude]="lat73" [longitude]="lng73"></agm-marker>
      <agm-marker [latitude]="lat74" [longitude]="lng74"></agm-marker>
      <agm-marker [latitude]="lat75" [longitude]="lng75"></agm-marker>
      <agm-marker [latitude]="lat76" [longitude]="lng76"></agm-marker>
      <agm-marker [latitude]="lat77" [longitude]="lng77"></agm-marker>
      <agm-marker [latitude]="lat78" [longitude]="lng78"></agm-marker>
      <agm-marker [latitude]="lat79" [longitude]="lng79"></agm-marker>
      <agm-marker [latitude]="lat80" [longitude]="lng80"></agm-marker>
      <agm-marker [latitude]="lat81" [longitude]="lng81"></agm-marker>
      <agm-marker [latitude]="lat82" [longitude]="lng82"></agm-marker>
      <agm-marker [latitude]="lat83" [longitude]="lng83"></agm-marker>
      <agm-marker [latitude]="lat84" [longitude]="lng84"></agm-marker>
      <agm-marker [latitude]="lat85" [longitude]="lng85"></agm-marker>
      <agm-marker [latitude]="lat86" [longitude]="lng86"></agm-marker>
      <agm-marker [latitude]="lat87" [longitude]="lng87"></agm-marker>
      <agm-marker [latitude]="lat88" [longitude]="lng88"></agm-marker>
      <agm-marker [latitude]="lat89" [longitude]="lng89"></agm-marker>
      <agm-marker [latitude]="lat90" [longitude]="lng90"></agm-marker>
      <agm-marker [latitude]="lat91" [longitude]="lng91"></agm-marker>
      <agm-marker [latitude]="lat92" [longitude]="lng92"></agm-marker>
      <agm-marker [latitude]="lat93" [longitude]="lng93"></agm-marker>
      <agm-marker [latitude]="lat94" [longitude]="lng94"></agm-marker>
      <agm-marker [latitude]="lat95" [longitude]="lng95"></agm-marker>
      <agm-marker [latitude]="lat96" [longitude]="lng96"></agm-marker>
      <agm-marker [latitude]="lat97" [longitude]="lng97"></agm-marker>
      <agm-marker [latitude]="lat98" [longitude]="lng98"></agm-marker>
      <agm-marker [latitude]="lat99" [longitude]="lng99"></agm-marker>
      <agm-marker [latitude]="lat100" [longitude]="lng100"></agm-marker>
      <agm-marker [latitude]="lat101" [longitude]="lng101"></agm-marker>
      <agm-marker [latitude]="lat102" [longitude]="lng102"></agm-marker>
      <agm-marker [latitude]="lat103" [longitude]="lng103"></agm-marker>
      <agm-marker [latitude]="lat104" [longitude]="lng104"></agm-marker>
      <agm-marker [latitude]="lat105" [longitude]="lng105"></agm-marker>
      <agm-marker [latitude]="lat106" [longitude]="lng106"></agm-marker>
      <agm-marker [latitude]="lat107" [longitude]="lng107"></agm-marker>
      <agm-marker [latitude]="lat108" [longitude]="lng108"></agm-marker>
      <agm-marker [latitude]="lat109" [longitude]="lng109"></agm-marker>
      <agm-marker [latitude]="lat110" [longitude]="lng110"></agm-marker>
      <agm-marker [latitude]="lat111" [longitude]="lng111"></agm-marker>
      <agm-marker [latitude]="lat112" [longitude]="lng112"></agm-marker>
      <agm-marker [latitude]="lat113" [longitude]="lng113"></agm-marker>
      <agm-marker [latitude]="lat114" [longitude]="lng114"></agm-marker>
      <agm-marker [latitude]="lat115" [longitude]="lng115"></agm-marker>
      <agm-marker [latitude]="lat116" [longitude]="lng116"></agm-marker>
      <agm-marker [latitude]="lat117" [longitude]="lng117"></agm-marker>
      <agm-marker [latitude]="lat118" [longitude]="lng118"></agm-marker>
      <agm-marker [latitude]="lat119" [longitude]="lng119"></agm-marker>
      <agm-marker [latitude]="lat120" [longitude]="lng120"></agm-marker>
      <agm-marker [latitude]="lat121" [longitude]="lng121"></agm-marker>
      <agm-marker [latitude]="lat122" [longitude]="lng122"></agm-marker>
      <agm-marker [latitude]="lat123" [longitude]="lng123"></agm-marker>
      <agm-marker [latitude]="lat124" [longitude]="lng124"></agm-marker>
      <agm-marker [latitude]="lat125" [longitude]="lng125"></agm-marker>
      <agm-marker [latitude]="lat126" [longitude]="lng126"></agm-marker>
      <agm-marker [latitude]="lat127" [longitude]="lng127"></agm-marker>
      <agm-marker [latitude]="lat128" [longitude]="lng128"></agm-marker>
      <agm-marker [latitude]="lat129" [longitude]="lng129"></agm-marker>
      <agm-marker [latitude]="lat130" [longitude]="lng130"></agm-marker>
      <agm-marker [latitude]="lat131" [longitude]="lng131"></agm-marker>
      <agm-marker [latitude]="lat132" [longitude]="lng132"></agm-marker>
      <agm-marker [latitude]="lat133" [longitude]="lng133"></agm-marker>
      <agm-marker [latitude]="lat134" [longitude]="lng134"></agm-marker>
      <agm-marker [latitude]="lat135" [longitude]="lng135"></agm-marker>
      <agm-marker [latitude]="lat136" [longitude]="lng136"></agm-marker>
      <agm-marker [latitude]="lat137" [longitude]="lng137"></agm-marker>
      <agm-marker [latitude]="lat138" [longitude]="lng138"></agm-marker>
      <agm-marker [latitude]="lat139" [longitude]="lng139"></agm-marker>
      <agm-marker [latitude]="lat140" [longitude]="lng140"></agm-marker>
      <agm-marker [latitude]="lat141" [longitude]="lng141"></agm-marker>
      <agm-marker [latitude]="lat142" [longitude]="lng142"></agm-marker>
      <agm-marker [latitude]="lat143" [longitude]="lng143"></agm-marker>
      <agm-marker [latitude]="lat144" [longitude]="lng144"></agm-marker>
      <agm-marker [latitude]="lat145" [longitude]="lng145"></agm-marker>
      <agm-marker [latitude]="lat146" [longitude]="lng146"></agm-marker>
      <agm-marker [latitude]="lat147" [longitude]="lng147"></agm-marker>
      <agm-marker [latitude]="lat148" [longitude]="lng148"></agm-marker>
      <agm-marker [latitude]="lat149" [longitude]="lng149"></agm-marker>
      <agm-marker [latitude]="lat150" [longitude]="lng150"></agm-marker>
      <agm-marker [latitude]="lat151" [longitude]="lng151"></agm-marker>
      <agm-marker [latitude]="lat152" [longitude]="lng152"></agm-marker>
      <agm-marker [latitude]="lat153" [longitude]="lng153"></agm-marker>
      <agm-marker [latitude]="lat154" [longitude]="lng154"></agm-marker>
      <agm-marker [latitude]="lat155" [longitude]="lng155"></agm-marker>
      <agm-marker [latitude]="lat156" [longitude]="lng156"></agm-marker>
      <agm-marker [latitude]="lat157" [longitude]="lng157"></agm-marker>
      <agm-marker [latitude]="lat158" [longitude]="lng158"></agm-marker>
      <agm-marker [latitude]="lat159" [longitude]="lng159"></agm-marker>
      <agm-marker [latitude]="lat160" [longitude]="lng160"></agm-marker>
      <agm-marker [latitude]="lat161" [longitude]="lng161"></agm-marker>
      <agm-marker [latitude]="lat162" [longitude]="lng162"></agm-marker>
      <agm-marker [latitude]="lat163" [longitude]="lng163"></agm-marker>
      <agm-marker [latitude]="lat164" [longitude]="lng164"></agm-marker>
      <agm-marker [latitude]="lat165" [longitude]="lng165"></agm-marker>
      <agm-marker [latitude]="lat166" [longitude]="lng166"></agm-marker>
      <agm-marker [latitude]="lat167" [longitude]="lng167"></agm-marker>
      <agm-marker [latitude]="lat168" [longitude]="lng168"></agm-marker>
      <agm-marker [latitude]="lat169" [longitude]="lng169"></agm-marker>
      <agm-marker [latitude]="lat170" [longitude]="lng170"></agm-marker>
      <agm-marker [latitude]="lat171" [longitude]="lng171"></agm-marker>
      <agm-marker [latitude]="lat172" [longitude]="lng172"></agm-marker>
      <agm-marker [latitude]="lat173" [longitude]="lng173"></agm-marker>
      <agm-marker [latitude]="lat174" [longitude]="lng174"></agm-marker>
      <agm-marker [latitude]="lat175" [longitude]="lng175"></agm-marker>
      <agm-marker [latitude]="lat176" [longitude]="lng176"></agm-marker>
      <agm-marker [latitude]="lat177" [longitude]="lng177"></agm-marker>
      <agm-marker [latitude]="lat178" [longitude]="lng178"></agm-marker>
      <agm-marker [latitude]="lat179" [longitude]="lng179"></agm-marker>
      <agm-marker [latitude]="lat180" [longitude]="lng180"></agm-marker>
      <agm-marker [latitude]="lat181" [longitude]="lng181"></agm-marker>
      <agm-marker [latitude]="lat182" [longitude]="lng182"></agm-marker>
      <agm-marker [latitude]="lat183" [longitude]="lng183"></agm-marker>
      <agm-marker [latitude]="lat184" [longitude]="lng184"></agm-marker>
      <agm-marker [latitude]="lat185" [longitude]="lng185"></agm-marker>
      <agm-marker [latitude]="lat186" [longitude]="lng186"></agm-marker>
      <agm-marker [latitude]="lat187" [longitude]="lng187"></agm-marker>
      <agm-marker [latitude]="lat188" [longitude]="lng188"></agm-marker>
      <agm-marker [latitude]="lat189" [longitude]="lng189"></agm-marker>
      <agm-marker [latitude]="lat190" [longitude]="lng190"></agm-marker>
      <agm-marker [latitude]="lat191" [longitude]="lng191"></agm-marker>
      <agm-marker [latitude]="lat192" [longitude]="lng192"></agm-marker>
      <agm-marker [latitude]="lat193" [longitude]="lng193"></agm-marker>
      <agm-marker [latitude]="lat194" [longitude]="lng194"></agm-marker>
      <agm-marker [latitude]="lat195" [longitude]="lng195"></agm-marker>
      <agm-marker [latitude]="lat196" [longitude]="lng196"></agm-marker>
      <agm-marker [latitude]="lat197" [longitude]="lng197"></agm-marker>
      <agm-marker [latitude]="lat198" [longitude]="lng198"></agm-marker>
      <agm-marker [latitude]="lat199" [longitude]="lng199"></agm-marker>
      <agm-marker [latitude]="lat200" [longitude]="lng200"></agm-marker>
      <agm-marker [latitude]="lat201" [longitude]="lng201"></agm-marker>
      <agm-marker [latitude]="lat202" [longitude]="lng202"></agm-marker>
      <agm-marker [latitude]="lat203" [longitude]="lng203"></agm-marker>
      <agm-marker [latitude]="lat204" [longitude]="lng204"></agm-marker>
      <agm-marker [latitude]="lat205" [longitude]="lng205"></agm-marker>
      <agm-marker [latitude]="lat206" [longitude]="lng206"></agm-marker>
      <agm-marker [latitude]="lat207" [longitude]="lng207"></agm-marker>
      <agm-marker [latitude]="lat208" [longitude]="lng208"></agm-marker>
      <agm-marker [latitude]="lat209" [longitude]="lng209"></agm-marker>
      <agm-marker [latitude]="lat210" [longitude]="lng210"></agm-marker>
      <agm-marker [latitude]="lat211" [longitude]="lng211"></agm-marker>
      <agm-marker [latitude]="lat212" [longitude]="lng212"></agm-marker>
      <agm-marker [latitude]="lat213" [longitude]="lng213"></agm-marker>
      <agm-marker [latitude]="lat214" [longitude]="lng214"></agm-marker>
      <agm-marker [latitude]="lat215" [longitude]="lng215"></agm-marker>
      <agm-marker [latitude]="lat216" [longitude]="lng216"></agm-marker>
      <agm-marker [latitude]="lat217" [longitude]="lng217"></agm-marker>
      <agm-marker [latitude]="lat218" [longitude]="lng218"></agm-marker>
      <agm-marker [latitude]="lat219" [longitude]="lng219"></agm-marker>
      <agm-marker [latitude]="lat220" [longitude]="lng220"></agm-marker>
      <agm-marker [latitude]="lat221" [longitude]="lng221"></agm-marker>
      <agm-marker [latitude]="lat222" [longitude]="lng222"></agm-marker>
      <agm-marker [latitude]="lat223" [longitude]="lng223"></agm-marker>
      <agm-marker [latitude]="lat224" [longitude]="lng224"></agm-marker>
      <agm-marker [latitude]="lat225" [longitude]="lng225"></agm-marker>
      <agm-marker [latitude]="lat226" [longitude]="lng226"></agm-marker>
      <agm-marker [latitude]="lat227" [longitude]="lng227"></agm-marker>
      <agm-marker [latitude]="lat228" [longitude]="lng228"></agm-marker>
      <agm-marker [latitude]="lat229" [longitude]="lng229"></agm-marker>
      <agm-marker [latitude]="lat230" [longitude]="lng230"></agm-marker>
      <agm-marker [latitude]="lat231" [longitude]="lng231"></agm-marker>
      <agm-marker [latitude]="lat232" [longitude]="lng232"></agm-marker>
      <agm-marker [latitude]="lat233" [longitude]="lng233"></agm-marker>
      <agm-marker [latitude]="lat234" [longitude]="lng234"></agm-marker>
      <agm-marker [latitude]="lat235" [longitude]="lng235"></agm-marker>
      <agm-marker [latitude]="lat236" [longitude]="lng236"></agm-marker>
      <agm-marker [latitude]="lat237" [longitude]="lng237"></agm-marker>
      <agm-marker [latitude]="lat238" [longitude]="lng238"></agm-marker>
      <agm-marker [latitude]="lat239" [longitude]="lng239"></agm-marker>
      <agm-marker [latitude]="lat240" [longitude]="lng240"></agm-marker>
      <agm-marker [latitude]="lat241" [longitude]="lng241"></agm-marker>
      <agm-marker [latitude]="lat242" [longitude]="lng242"></agm-marker>
      <agm-marker [latitude]="lat243" [longitude]="lng243"></agm-marker>
      <agm-marker [latitude]="lat244" [longitude]="lng244"></agm-marker>
      <agm-marker [latitude]="lat245" [longitude]="lng245"></agm-marker>
      <agm-marker [latitude]="lat246" [longitude]="lng246"></agm-marker>
      <agm-marker [latitude]="lat247" [longitude]="lng247"></agm-marker>
      <agm-marker [latitude]="lat248" [longitude]="lng248"></agm-marker>
      <agm-marker [latitude]="lat249" [longitude]="lng249"></agm-marker>
      <agm-marker [latitude]="lat250" [longitude]="lng250"></agm-marker>
      <agm-marker [latitude]="lat251" [longitude]="lng251"></agm-marker>
      <agm-marker [latitude]="lat252" [longitude]="lng252"></agm-marker>
      <agm-marker [latitude]="lat253" [longitude]="lng253"></agm-marker>
      <agm-marker [latitude]="lat254" [longitude]="lng254"></agm-marker>
      <agm-marker [latitude]="lat255" [longitude]="lng255"></agm-marker>
      <agm-marker [latitude]="lat256" [longitude]="lng256"></agm-marker>
      <agm-marker [latitude]="lat257" [longitude]="lng257"></agm-marker>
      <agm-marker [latitude]="lat258" [longitude]="lng258"></agm-marker>
      <agm-marker [latitude]="lat259" [longitude]="lng259"></agm-marker>
      <agm-marker [latitude]="lat260" [longitude]="lng260"></agm-marker>
      <agm-marker [latitude]="lat261" [longitude]="lng261"></agm-marker>
      <agm-marker [latitude]="lat262" [longitude]="lng262"></agm-marker>
      <agm-marker [latitude]="lat263" [longitude]="lng263"></agm-marker>
      <agm-marker [latitude]="lat264" [longitude]="lng264"></agm-marker>
      <agm-marker [latitude]="lat265" [longitude]="lng265"></agm-marker>
      <agm-marker [latitude]="lat266" [longitude]="lng266"></agm-marker>
      <agm-marker [latitude]="lat267" [longitude]="lng267"></agm-marker>
      <agm-marker [latitude]="lat268" [longitude]="lng268"></agm-marker>
      <agm-marker [latitude]="lat269" [longitude]="lng269"></agm-marker>
      <agm-marker [latitude]="lat270" [longitude]="lng270"></agm-marker>
      <agm-marker [latitude]="lat271" [longitude]="lng271"></agm-marker>
      <agm-marker [latitude]="lat272" [longitude]="lng272"></agm-marker>
      <agm-marker [latitude]="lat273" [longitude]="lng273"></agm-marker>
      <agm-marker [latitude]="lat274" [longitude]="lng274"></agm-marker>
      <agm-marker [latitude]="lat275" [longitude]="lng275"></agm-marker>
      <agm-marker [latitude]="lat276" [longitude]="lng276"></agm-marker>
      <agm-marker [latitude]="lat277" [longitude]="lng277"></agm-marker>
      <agm-marker [latitude]="lat278" [longitude]="lng278"></agm-marker>
      <agm-marker [latitude]="lat279" [longitude]="lng279"></agm-marker>
      <agm-marker [latitude]="lat280" [longitude]="lng280"></agm-marker>
      <agm-marker [latitude]="lat281" [longitude]="lng281"></agm-marker>
      <agm-marker [latitude]="lat282" [longitude]="lng282"></agm-marker>
      <agm-marker [latitude]="lat283" [longitude]="lng283"></agm-marker>
      <agm-marker [latitude]="lat284" [longitude]="lng284"></agm-marker>
      <agm-marker [latitude]="lat285" [longitude]="lng285"></agm-marker>
      <agm-marker [latitude]="lat286" [longitude]="lng286"></agm-marker>
      <agm-marker [latitude]="lat287" [longitude]="lng287"></agm-marker>
      <agm-marker [latitude]="lat288" [longitude]="lng288"></agm-marker>
      <agm-marker [latitude]="lat289" [longitude]="lng289"></agm-marker>
      <agm-marker [latitude]="lat290" [longitude]="lng290"></agm-marker>
      <agm-marker [latitude]="lat291" [longitude]="lng291"></agm-marker>
      <agm-marker [latitude]="lat292" [longitude]="lng292"></agm-marker>
      <agm-marker [latitude]="lat293" [longitude]="lng293"></agm-marker>
      <agm-marker [latitude]="lat294" [longitude]="lng294"></agm-marker>
      <agm-marker [latitude]="lat295" [longitude]="lng295"></agm-marker>
      <agm-marker [latitude]="lat296" [longitude]="lng296"></agm-marker>
      <agm-marker [latitude]="lat297" [longitude]="lng297"></agm-marker>
      <agm-marker [latitude]="lat298" [longitude]="lng298"></agm-marker>
      <agm-marker [latitude]="lat299" [longitude]="lng299"></agm-marker>
      <agm-marker [latitude]="lat300" [longitude]="lng300"></agm-marker>
      <agm-marker [latitude]="lat301" [longitude]="lng301"></agm-marker>
      <agm-marker [latitude]="lat302" [longitude]="lng302"></agm-marker>
      <agm-marker [latitude]="lat303" [longitude]="lng303"></agm-marker>
      <agm-marker [latitude]="lat304" [longitude]="lng304"></agm-marker>
      <agm-marker [latitude]="lat305" [longitude]="lng305"></agm-marker>
      <agm-marker [latitude]="lat306" [longitude]="lng306"></agm-marker>
      <agm-marker [latitude]="lat307" [longitude]="lng307"></agm-marker>
      <agm-marker [latitude]="lat308" [longitude]="lng308"></agm-marker>
      <agm-marker [latitude]="lat309" [longitude]="lng309"></agm-marker>
      <agm-marker [latitude]="lat310" [longitude]="lng310"></agm-marker>
      <agm-marker [latitude]="lat311" [longitude]="lng311"></agm-marker>
      <agm-marker [latitude]="lat312" [longitude]="lng312"></agm-marker>
      <agm-marker [latitude]="lat313" [longitude]="lng313"></agm-marker>
      <agm-marker [latitude]="lat314" [longitude]="lng314"></agm-marker>
      <agm-marker [latitude]="lat315" [longitude]="lng315"></agm-marker>
      <agm-marker [latitude]="lat316" [longitude]="lng316"></agm-marker>
      <agm-marker [latitude]="lat317" [longitude]="lng317"></agm-marker>
      <agm-marker [latitude]="lat318" [longitude]="lng318"></agm-marker>
      <agm-marker [latitude]="lat319" [longitude]="lng319"></agm-marker>
    </agm-map>
  </div>

</div>
