<!DOCTYPE html>
<div class="flex-container">

  <div class="flex-left">

    <div class="left-top">

      <h1>APK - Alkohol Per Prosent</h1>

    </div>


    <div class="left-middle">
        <p>Finn den billigste alkoholen med <br>
        høyest prosent! <br></p>

    </div>

    <div class="left-bottom">

      <div class="flex-bottom-left">
        <img src="../assets/backround/google.png">
      </div>

      <div class="flex-bottom-right">
        <img src="../assets/backround/ios.png">
      </div>

    </div>

  </div>

  <div class="flex-right">
    <div class="image-right">
      <img src="../assets/backround/iPhone.png">
    </div>
  </div>

</div>
