<div class='img-container'>
    <img class="b-img" src="../assets/backround/backround.png">
    <div class='about-container'>
      <h1>Alkohol per krone</h1>
      <h2>Tekster har visse felles kjennetegn, uavhenfTekster har visse felles kjennetegn,
        uavhengig av tegnsystem  og sjanger. En tekst må være koherent, dvs. oppleves som
        sammenhengende av språkbrukerne i en bestemt situasjon. Den må ha et emne, dvs.
        at den må «handle om noe». Tekster tolkes av språkbrukerne ut fra visse historisk og kulturel
        t bestemte tekstnormer, dvs. (uutalte) forventninger til og vaner for kommunikasjon.
        Normene danner basis for de ulike tekstsjangrene. Tekstnormer og dermed sjangerkrav
        kan endre seg over tid.
        <br><br>
        Når det mediet som tekstene formidles gjennom
        endrer seg, eller når omstendighetene omkring kommunikasjonen (konteksten)
        endrer seg, vil også tekstnormene forandres. E
        godt eksempel er hvordan normene for sjangeren TV-debatt har endra seg fra
        fjernsynets barndom til i dag. </h2>
    </div>
</div>
