.showItem-body {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.top_title {

  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 9%;
  align-self: flex-start;
  font-size: 25px;

}

.item_title {

  padding-top: 25px;
  padding-bottom: 10px;
  text-align: center;
  margin-left: 9%;
  align-self: flex-start;
}

.showItem-body .showItem-top {

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 85%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible;
    position: relative;
    margin-bottom: 40px;
    border-radius: 8px;

}

.showItem-top .item-points {

  width: 5em;
  height: 5em;
  border-radius: 2.5em;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: -2.5em;
  margin-top: -2.5em;

}

.showItem-top .item-favourite {

  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top:0;
  margin-top: 5px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.showItem-top .item-favourite img:hover {

  content:url("../../../assets/icons/star3.png");

}

.showItem-top .item-favourite img {

  position: absolute;
  height: 30px;
  width: 30px;
}

.showItem-top .item-points .item-points-text {
  color: white;
  text-align: center;
  line-height: 2.7em;
}

.showItem-body .showItem-top .top-left {

  width: 20%;
  min-width: 200px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.showItem-body .showItem-top .top-left img {

  max-height: 80%;
  max-width: 150px;
  margin-left: 0;
}

.showItem-body .showItem-top .top-right {

  width: 65%;
  min-width: 390px;
  margin-left: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.top-right-top {

  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.top-right-top .top-values {

  display: flex;
  width: 100%;
  justify-content: center;

}
.top-right-top .top-values div {

  width: 30%;
  justify-content: center;
  text-align: center;

}

.top_text {

  font-size: 20px;

}

.bottom_text {


  font-size: 15px;
  font-weight: 100;
}

.top-right-bottom {

  width: 95%;
  display: flex;
  align-items: baseline;
  margin-top: 30px;
  justify-content: center;

}

.top-right-bottom a {

  width: 100%;
  height: auto;
}

.top-right-bottom a input {

  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  border-style: none;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  outline: none;
  cursor:pointer;
  border-radius: 4px;

}

.top-right-bottom a input:hover {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



/* /////////// MID 1 MID 1 MID 1 MID 1 //////////7*/

.showItem-bottom {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  border-radius: 8px;
}

.showItem-bottom .text-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-bottom: 0;
  margin-left: 4%;
  margin-top: 15px;

}

.showItem-bottom .text-container .text-top {
  text-align: left;
  font-size: 20px;
  margin-bottom: 0;

}

.showItem-bottom .text-container .text-bottom {
  text-align: left;
  margin-left: 3px;
  font-size: 15px;
  font-weight: 100;
}


@media screen and (max-width: 800px)
{
    .showItem-body .showItem-top .top-left {

        padding: 0;
        margin-left: -30px;
    }

    .top-right-bottom form input {

      width: 80%;
      margin-left: 35px;
    }

    .showItem-body .showItem-top .top-left img {
      max-height: 100%;
      margin-left: 18%;
    }

    .showItem-body .showItem-top {
      width: 80%;
    }

    .top-right-bottom a input {

      width: 75%;
      margin-left: 12%;
    }
}
