
  <div class="showItem-body">

    <h1 class="top_title">{{ item.name }}</h1>

    <div class="showItem-top">

      <div class="item-points">
        <h3 class="item-points-text">P</h3>
      </div>

      <div class="top-left">

        <img src="{{ item.images.big }}" />

      </div>

      <div class="top-right">

        <div class="top-right-top">

          <div class="top-values">
            <div>
              <p class="top_text">
                Test1
              </p>
              <p class="bottom_text">
                Desc1
              </p>
            </div>
            <div>
              <p class="top_text">
                Test2
              </p>
              <p class="bottom_text">
                Desc2
              </p>
            </div>
            <div>
              <p class="top_text">
                Test3 | Test3
              </p>
              <p class="bottom_text">
                Desc3
              </p>
            </div>
          </div>
        </div>

        <div class="top-right-bottom">

            <button>KJØP NÅ</button>
        </div>

      </div>

    </div>

    <h1 class="top_title">Detaljer</h1>

    <div class="showItem-bottom">

      <div class="text-container">
        <p class="text-top">
            Varetype
        </p>
        <p class="text-bottom">
            Varetype
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Varenummer
        </p>
        <p class="text-bottom">
            vnr.
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Pris per liter
        </p>
        <p class="text-bottom">
            pris
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Farge
        </p>
        <p class="text-bottom">
            fff
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Smak
        </p>
        <p class="text-bottom">
            smk
        </p>
      </div>

    </div>

    

    <div class="showItem-bottom">


    </div>


    <div class="showItem-bottom">


    </div>
  </div>
