
  <div class="showItem-body">

    <h1 class="top_title">{{ item.name }}</h1>

    <div class="showItem-top">

      <div class="item-points">
        <h3 class="item-points-text">P</h3>
      </div>

      <div class="top-left">

        <img src="{{ item.images.big }}" />

      </div>

      <div class="top-right">

        <div class="top-right-top">

          <div class="top-values">
            <div>
              <p class="top_text">
                {{ apkValue }}
              </p>
              <p class="bottom_text">
                Apk
              </p>
            </div>
            <div>
              <p class="top_text">
                {{ item.price }}
              </p>
              <p class="bottom_text">
                kr
              </p>
            </div>
            <div>
              <p class="top_text">
                {{ item.abv }} | {{ item.containerSize }}
              </p>
              <p class="bottom_text">
                Prosent/l
              </p>
            </div>
          </div>
        </div>

        <div class="top-right-bottom">

            <button>KJØP NÅ</button>
        </div>

      </div>

    </div>

    <h1 class="top_title">Detaljer</h1>

    <div class="showItem-bottom">

      <div class="text-container">
        <p class="text-top">
            Varetype
        </p>
        <p class="text-bottom">
            {{ item.productType }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Varenummer
        </p>
        <p class="text-bottom">
            {{ item.code }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Pris per liter
        </p>
        <p class="text-bottom">
            {{ item.pricePerLiter }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Farge
        </p>
        <p class="text-bottom">
            {{ item.color }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Smak
        </p>
        <p class="text-bottom">
            {{ item.taste }}
        </p>
      </div>

    </div>

    <h1 class="top_title">Innhold</h1>

    <div class="showItem-bottom">

      <div class="text-container">
        <p class="text-top">
            Alkohol
        </p>
        <p class="text-bottom">
            {{ item.abv }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Syre
        </p>
        <p class="text-bottom">
            {{ item.acid }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Sukker
        </p>
        <p class="text-bottom">
            {{ item.sugar }}
        </p>
      </div>

    </div>

    <h1 class="top_title">Emballasje og merking</h1>

    <div class="showItem-bottom">

      <div class="text-container">
        <p class="text-top">
            Emballasjetype
        </p>
        <p class="text-bottom">
            {{ item.containerType }}
        </p>
      </div>
      <div class="text-container">
        <p class="text-top">
            Kork
        </p>
        <p class="text-bottom">
            {{ item.cork }}
        </p>
      </div>

    </div>
  </div>
