<div class="top-container">
    <h3 class="header">Toppliste</h3>
    <p class="sort-by"> Sorter etter: <span><select class="select">
        <option value="Poeng synkende" (click)="getItemsByDescendingPoints()">Poeng synkende</option>
        <option value="Poeng stigende" (click)="getItemsByIncreasingPoints()">Poeng stigende</option>
        <option value="Pris synkende" (click)="getItemsByDescendingPrice()">Pris synkende</option>
        <option value="Pris stigende" (click)="getItemsByIncreasingPrice">Pris stigende</option>
      </select></span></p>
</div>
<div class="container"
  infiniteScroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

    <app-alcohol-item *ngFor="let item of items"
      [item]="item">
    </app-alcohol-item>
</div>
