<div class="container" (click)="goToItem(item.code)">
  <div class="item">
    <div class="item-points">
      <h3 class="item-points-text">{{item.points}}</h3>
    </div>
    <img class="item-image" src="{{item.images.big}}" />
    <h5 class="headerText">{{item.name}}</h5>
    <div class="item-text-container">
      <div class="item-text-flex-item">
        <p class="item-text-flex-item-header">{{item.apk.toFixed(2)}}</p>
        <p class="item-text-flex-item-subheader">APK</p>
        <p class="line">|</p>
      </div>
      <div class="item-text-flex-item">
        <p class="item-text-flex-item-header">{{item.price}}</p>
        <p class="item-text-flex-item-subheader">kr</p>
        <p class="line">|</p>
      </div>
      <div class="item-text-flex-item">
        <p class="item-text-flex-item-header">{{item.abv}}|{{item.containerSize}}</p>
        <p class="item-text-flex-item-subheader">Procent/cl</p>
      </div>
    </div>

    <a href="{{ item.url }}" target="_blank">
      <button onclick="event.stopPropagation();" class="item-button" type="submit">KJØP NÅ</button>
    </a>

  </div>
</div>
