.topnav {
  overflow: hidden;
  background-color: black;
  height: 70px;
}
.logo{
  float: left;
  width: 30px;
  height: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}
.siteName {
  margin-left: 15px;
  float: left;
  line-height: 70px;
  color:white;
  font-weight: lighter;
}
.topnav a {
  margin-right: 20px;
  float: right;
  display: block;
  color:white;
  text-align: left;
  text-decoration: none;
  line-height: 70px;
  font-weight: lighter;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}
ul{
  float: right;
  display: inline-block;
}
li{
  float:left;
  list-style:none;
  font-weight: lighter;
}

.searchField {
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 4px;
}

/* Hide nav-links, image etc and show icon */
@media screen and (max-width: 1000px) {
  .searchField {display: none;}
  .siteName {display: none;}
  .logo {display: none;}
  .topnav a {display: none;}
  .topnav a.icon {
    margin-left: 15px;
    float: left;
    display: block;
  }
}

/* .responsive - after button press */
@media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: relative;
    height: 100%;
  }
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive ul {
    margin-top: 50px;
    float: left;
    text-align: left;
  }
  .topnav.responsive a {
    width: 100%;
    float: left;
    display: block;
    text-align: left;
  }
  .link {
    margin-left: -30px;
  }
  .topnav.responsive li{
    float:none;
    display:block;
  }
  .topnav.responsive .searchField{
    float:left;
    display:block;
    text-align: left;
    padding: 0;
    margin-left: -30px;
  }
}
