<div class="topnav" id="myTopnav">
  <img class="logo" src="../assets/logo/apk_logo_50.png" routerLink="/" (click)="onClickLink()">
  <p class="siteName" routerLink="/" (click)="onClickLink()  ">Alkohol Per Krone</p>
  <ul>
    <li>
      <a class="link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onClickLink()">HJEM</a>
    </li>
    <li>
      <a class="link" routerLink="/about" routerLinkActive="active" (click)="onClickLink()">OM</a>
    </li>
    <li>
      <a class="link" routerLink="/top" routerLinkActive="active" (click)="onClickLink()">TOPPLISTE</a>
    </li>
    <li>
      <a class="link" routerLink="/categories" routerLinkActive="active" (click)="onClickLink()">KATEGORIER</a>
    </li>
    <li>
      <input class="searchField" type="text" [ngModel]="searchString" (ngModelChange)="searchChange($event)">
    </li>
    <li>
      <input class="profile" type="image" src="../assets/navigationbar/user.png" (click)="profileButtonPressed()">
    </li>
  </ul>

  <a href="javascript:void(0);" style="font-size:20px; 	text-decoration: none;" class="icon" (click)="onClickMenu()">&#9776;</a>
</div>
<div class="login" *ngIf="showLogin">
  <input [(ngModel)]="email" class="textField" placeholder="Epost" type="text">
  <input [(ngModel)]="password" class="textField" placeholder="Passord" type="text">
  <input [(ngModel)]="passwordRepeat" *ngIf="!login" class="textField" placeholder="Gjenta passord" type="text">
  <br>
  <a href="#" class="switch-login-button" (click)="switchLoginButtonPressed()">
    {{ login ? "Registrer deg" : "Logg inn"}}
  </a>
  <br>
  <a href="#" class="login-button" (click)="loginButtonPressed()">
    {{ login ? "Logg inn" : "Registrer deg"}}
  </a>
</div>
<router-outlet></router-outlet>
