<div class="container">
  <div class="text-container">
    <h1 class="header">APK - Alkohol Per Krone</h1>
    <h4 class="sub-header">Finn den
      <b>billigste</b> alkoholen med
      <b>mest prosent!</b>
    </h4>
    <div class="app-store-container">
      <a class="google-play-container" href='https://play.google.com/store/apps/details?id=com.apk.alkoholperkrone&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img class="google-play" alt='Tilgjengelig på Google Play' src='../../../assets/frontpage/google-play.png' />
      </a>
      <a class="app-store-container" href='https://itunes.apple.com/us/app/apk-alkohol-per-krone/id1273977940?mt=8'>
        <img class="app-store" alt='Tilgjengelig på App Store' src='../../../assets/frontpage/app-store.png' />
      </a>

    </div>

  </div>
  <div class="image-container">
    <img class="app-image" src="../../../assets/frontpage/iphone.png">
  </div>
</div>
