<div class="flex-container">

  <div class="flex-left">

    <div class="left-top" id="ok">

      <h1 id="header">APK - Alkohol Per Krone</h1>

    </div>


    <div class="left-middle" id="subheader">
      <p>Finn den
        <strong>billigste</strong> alkoholen med
        <br>
        <strong>høyest</strong> prosent!
        <br>
      </p>

    </div>

    <div class="left-bottom">

      <div class="flex-bottom-left">
        <img id="google-play" src="../assets/backround/google.png">
      </div>

      <div class="flex-bottom-right">
        <img id="appstore" src="../assets/backround/ios.png">
      </div>

    </div>

  </div>

  <div class="flex-right">
    <div class="image-right">
      <img id="iphone" src="../assets/backround/iPhone.png">
    </div>
  </div>

</div>
